[MESSAGES CONTROL]
disable=missing-docstring, line-too-long, import-error

[BASIC]
function-naming-style=any
variable-naming-style=any
argument-naming-style=any
method-naming-style=any
module-naming-style=any