<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quayside</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static '/app/src/output.css' %}">
    {% endcompress %}

</head>

<body class="">
    <div class="container mx-auto mt-4">
        <img src="{% static 'app/images/logo_dark.png' %}" alt='quayside logo' style="height: 50px;"/>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>