{% extends '_base.html' %}
{% load static %}

{% block content %}
<script>

</script>
<div class=" bg-black w-full h-screen bg-opacity-80">
    <div class="flex  p-10">

        <div class="p-5  text-white  bg-neutral-800 rounded-lg ">
            <div class="flex flex-wrap font-semibold text-xl">
                <div class="w-5/6 "> Create Project</div>
                <a class="w-1/6 text-right  hover:text-gray-500 " href="/"> x</a> <!-- Go home if exit -->
            </div>

            <!-- Project Description Input -->
            <div class="mt-5">
                <div>What is your project about?</div>
                <input name value placeholder="I want to bake a cake!"
                    class=" w-96 mt-1 text-sm rounded-md p-2.5 bg-neutral-600 outline-none placeholder-gray-400" />
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end">
                <button type='submit' class=" my-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}