
{% load static %}

<!-- <style>
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0) rotateY(30deg);
        }
        50% {
            transform: translateY(-40px) rotate(45deg);
        }
}

.bounce {
    animation: bounce 2s infinite;
}
</style> -->

<div id='duckDiv' class="absolute bottom-40 right-5 duckTriggerAble bounce z-50">
    

    <!-- <div>
        <a id="clickMeDuck" class="button hidden">Click to Show!</a>
    </div>

    <div>
        <a id="hideMeDuck" class="button">Click to Hide!</a>
    </div> -->

    <img id="duckImage" class="w-24 cursor-pointer" src="{% static 'app/images/duck.png' %}">
</div>


<script>
    // wait until the whole doc is loaded... all of it
    let duckSpeed = 2000;
    document.addEventListener('DOMContentLoaded', function() {
        const images = [
            "{% static 'app/images/duck.png' %}",
            "{% static 'app/images/duck_sit.png' %}"
        ];

        const imgElement = document.getElementById('duckImage');
        let currentIndex = 0;

        function toggleImage() {
            currentIndex = (currentIndex + 1) % images.length;
            imgElement.src = images[currentIndex];
        }

        setInterval(toggleImage, duckSpeed);

        let duckTriggerables = document.getElementsByClassName('duckTriggerAble')
        
        for (let triggerable of duckTriggerables) {
            triggerable.addEventListener('click', function() {  

                let feedbackDiv = document.getElementById('taskFeedBackFormDiv');
                feedbackDiv.classList.toggle('hidden');
                
                // toggle the animation changes
                document.getElementById('clickMeDuck').classList.toggle('hidden');
                document.getElementById('hideMeDuck').classList.toggle('hidden');
                document.getElementById('duckDiv').classList.toggle('bounce');

            });
        }
    });

</script>
