
{% load static %}



<div id='duckDiv' class="hidden absolute bottom-40 right-5  bounce z-50">
    <img id="duckImage" class="w-24 cursor-pointer" src="{% static 'app/images/duck.png' %}">
</div>


<script>
    // wait until the whole doc is loaded... all of it
    let duckSpeed = 1000;
    document.addEventListener('DOMContentLoaded', function() {
        // ONLY SHOW DUCK 10% of the time
        const MIN = 1
        const MAX = 100
        // Generates random between 0 and 100
        randomValue = Math.floor(Math.random() * (MAX - MIN + 1)) + MIN; 
        console.log("RANDOM", randomValue)
        if (randomValue > 10) return // Don't continue to show duck

        // Show duck + Modal
        let feedbackDiv = document.getElementById('taskFeedBackFormDiv');
        feedbackDiv.classList.toggle('hidden');
        let duckDiv = document.getElementById('duckDiv');
        duckDiv.classList.toggle('hidden');

        // Trigger duck bounce
        const images = [
            "{% static 'app/images/duck.png' %}",
            "{% static 'app/images/duck_sit.png' %}"
        ];
        const imgElement = document.getElementById('duckImage');
        let currentIndex = 0;
        function toggleImage() {
            currentIndex = (currentIndex + 1) % images.length;
            imgElement.src = images[currentIndex];
        }
        var intervalId = setInterval(toggleImage, duckSpeed);


        // Toggle Modal when duck clicked
        duckDiv.addEventListener('click', function() { 
            feedbackDiv.classList.toggle('hidden');
            // Stop duck bounce when modal hidden
            if (feedbackDiv.classList.contains("hidden")) clearInterval(intervalId);
            else intervalId = setInterval(toggleImage, duckSpeed);
        });
 
    });

</script>
