
{% load static %}



<div id='duckDiv' class="absolute bottom-40 right-5 duckTriggerAble bounce z-50">
    <img id="duckImage" class="w-24 cursor-pointer" src="{% static 'app/images/duck.png' %}">
</div>


<script>
    // wait until the whole doc is loaded... all of it
    let duckSpeed = 1000;
    document.addEventListener('DOMContentLoaded', function() {
        const images = [
            "{% static 'app/images/duck.png' %}",
            "{% static 'app/images/duck_sit.png' %}"
        ];

        const imgElement = document.getElementById('duckImage');
        let currentIndex = 0;

        function toggleImage() {
            currentIndex = (currentIndex + 1) % images.length;
            imgElement.src = images[currentIndex];
        }

        var intervalId = setInterval(toggleImage, duckSpeed);

        let duckTriggerables = document.getElementsByClassName('duckTriggerAble')
        
        for (let triggerable of duckTriggerables) {
            triggerable.addEventListener('click', function() {  

                let feedbackDiv = document.getElementById('taskFeedBackFormDiv');
                feedbackDiv.classList.toggle('hidden');
                
                // Stop duck bounce when modal hidden
                if (feedbackDiv.classList.contains("hidden")) {
                    clearInterval(intervalId);
                } else {
                    intervalId = setInterval(toggleImage, duckSpeed);
                }
            });
        }
    });

</script>
