{% extends "project.html" %}
{% load static %}
{% block projectContent %}
<head>
  <!-- TODO use npm nodemanager instead of the headers -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <div class="relative flex justify-center">
    {% block taskContent %}{% endblock %}

    <div class="w-full h-full" style="height: 100vh;">
      <div id="graph" class=" w-full" ></div>
    </div>
  </div>
</body>

<script src="{% static 'app/js/tree.js' %}"></script>
<script>
  // Renders graph using tree.js
  (async function () {
    const response = await fetch('{{ apiUrl }}/tasks/?projectID={{projectID}}')
    if (!response.ok) throw new Error('REST tasks response was not ok.')
    const tasks = await response.json()
  
    const graphElement = document.getElementById('graph')

    // // eslint-disable-next-line no-undef
    const trees = createTaskTrees(tasks);

    trees.forEach((tree, index) => {
        // Create a separate SVG for each tree and append it to the body or a specific container
        const treeSVG = Tree(tree, {
        label: (d, n) => d.name,
        link: (d, n)  => `task/${d.id}`,
        createTaskLink: (d, n)  =>  `create-task/${d.id}`,
        fill: (d, n)  => {
          if(d.status === "In-Progress") return '#EFA610' // Yellow
          else if (d.status === "Done") return '#01796E' // Teal
          else return'#323232'
        }, 
        width: graphElement.offsetWidth,
      })

        // Append the SVG to the document
        graphElement.appendChild(treeSVG);
  });
})()
</script>

{% endblock %}