{% extends "project.html" %}
{% load static %}
{% block projectContent %}
<head>
  <!-- TODO use npm nodemanager instead of the headers -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <div class="relative ">
    {% block taskContent %}{% endblock %}
    {% block editProjectContent %}{% endblock %}


    <div class="w-full h-full" style="height:100dvh;">
      <div id="graph" class=" w-full"></div>
    </div>
  </div>
</body>

<script src="{% static 'app/js/tree.js' %}"></script>
<script>
// Renders graph using tree.js
(async function () {
  try {
    const response = await fetch('{{ apiUrl }}/tasks/?projectID={{projectID}}')
    const status_response = await fetch('{{ apiUrl }}/statuses/?project={{projectID}}')
    const tasks = await response.json()

    // TODO: make use of the status information to color code each task node
    const statuses = await status_response.json()
    if (!response.ok) throw new Error(tasks.message || 'Network response was not ok')

    const graphElement = document.getElementById('graph')

    // eslint-disable-next-line no-undef
    const trees = createTaskTrees(tasks, statuses)

    // eslint-disable-next-line no-undef
    const treeSVG = Trees(trees, {
      label: (d, n) => d.name,
      link: (d, n) => `task/${d.id}`,
      createTaskLink: (d, n) => `create-task/${d.id}`,
      fill: (d, n) => {
        return '#' + d.color
      },
      width: graphElement.offsetWidth,
      height: window.innerHeight - 180 // Full height minus padding
    })

    // Append the SVG to the document
    graphElement.appendChild(treeSVG)
  } catch (error) {
    // Handle network errors
    console.error('There was a problem with the fetch operation:', error.message)
    alert('There was a problem displaying your tasks.') // TODO DO SOMETHING ELSE INSTEAD OF THIS
  }
})()
</script>

{% endblock %}