{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class='fixed left-0 pt-80  text-white  w-screen text-center'>


  <div class='  text-4xl md:text-7xl font-bold '>
    quayside.app
  </div>

  <div class=' md:text-3xl mt-3'>
    Ignite Collaborative Productivity
  </div>

  <div class=' text-sm md:text-xl  mt-3'>
    <a href='/?newProjectModal=true' >
      <button class='bg-neutral-700 rounded-lg mx-2 px-2 py-1'>
        Create a project to get started...
      </button>
    </a>
</div>
</div>


{% endblock content %}
