{% extends "project.html" %}
{% load static %}
{% block projectContent %}


{% comment %} <head>
    <!-- TODO use npm nodemanager instead of the headers -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head> {% endcomment %}

<div class = 'text-white h-screen'>

  <div id="featureSection" class='flex justify-center min-h-screen  text-3xl'>

    <div class="flex-1 mx-4  w-max h-max py-4">

      <div class="flex justify-center mt-5">

        <!-- Source: https://v1.tailwindcss.com/components/cards -->
        <div class="flex-1 h-max mt-6 mx-4 rounded-2xl overflow-hidden shadow-2xl bg-yellow-300">
          <div class="px-2 pb-2">
            <div class="font-bold text-xl mb-2">Todo</div>
            <div id="todoListDiv" class="mt-4 rounded-2xl flex items-center justify-center bg-black min-h-full w-100">
              <div id="todolist"></div>
            </div>
          </div>
        </div>

        <div class="flex-1 h-max mt-6 mx-4 rounded-2xl overflow-hidden shadow-2xl bg-yellow-300">
          <div class="px-2 pb-2">
            <div class="font-bold text-xl mb-2">In-Progress</div>
            <div id="inProgListDiv" class="mt-4 rounded-2xl justify-center bg-black min-h-full">
              <ul id="inproglist"></ul>
            </div>
          </div>
        </div>  

        <div class="flex-1 h-max mt-6 mx-4 rounded-2xl overflow-hidden shadow-2xl bg-yellow-300">
          <div class="px-2 pb-2">
            <div class="font-bold text-xl mb-2">Done</div>
            <div id="doneListDiv" class="mt-4 rounded-2xl flex items-center justify-center bg-black h-90 w-100">
              <div id="donelist"></div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
</div> 


<script>
  (async function () {
    try {
      const response = await fetch('{{ apiUrl }}/kanban/?projectID={{projectID}}')
  
      if (!response.ok) throw new Error('Network response was not ok')
      const tasks = await response.json()
      console.log(tasks)
      const todoListElement = document.getElementById('todolist')
      tasks['Todo'].forEach(function (task) {
        const listLink = document.createElement('a')
        //listLink.href = `/project/${project.id}/graph`
        listLink.textContent = task.name
        listLink.className = 'flex pb-2 pl-1 hover:text-neutral-500  truncate w-22'
        todoListElement.appendChild(listLink)
      })

      const inProgListElement = document.getElementById('inproglist')
      tasks['In-Progress'].forEach(function (task) {
        const listLink = document.createElement('a')
        //listLink.href = `/project/${project.id}/graph`
        listLink.textContent = task.name
        listLink.className = 'flex pb-2 pl-1 hover:text-neutral-500  truncate w-22'
        inProgListElement.appendChild(listLink)
      })

      const doneListElement = document.getElementById('donelist')
      tasks['Done'].forEach(function (task) {
        const listLink = document.createElement('a')
        //listLink.href = `/project/${project.id}/graph`
        listLink.textContent = task.name
        listLink.className = 'flex pb-2 pl-1 hover:text-neutral-500  truncate w-22'
        doneListElement.appendChild(listLink)
      })
    } catch (error) {
      console.error('There has been a problem with fetching projects:', error)
    }
  })()
</script>

{% endblock %}