{% extends '_base.html'%}

{% load static %}

{% block content %}
<script>
</script>
<div class=" bg-black w-full h-screen bg-opacity-60">
    <div class="flex justify-end p-10">
        <div class="p-5  text-white  bg-neutral-800 rounded-lg ">
            <div class="flex flex-wrap justify-end font-semibold text-xl">
                <a class="w-1/6 text-right hover:text-gray-500 " href="/"> x</a> <!-- Go home if exit -->
            </div>
                <!-- Submit Button -->
                <div class="flex justify-center">
                    <button type='submit' class=" flex my-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center text-xl">
                        <img src="{% static 'app/images/github-mark-white.png' %}" alt='GitHub logo' style="height: 20px;" class = 'my-auto'/>
                        <a href='/auth' class='my-center mx-3 text-xl font-bold'> Sign in with GitHub</a>
                    </button>
                </div>
                <div class="flex justify-center">
                    <button type='submit' class=" flex my-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center text-xl">
                        <img src="{% static 'app/images/github-mark-white.png' %}" alt='GitHub logo' style="height: 20px;" class = 'my-auto'/>
                        <a href='/auth' class='my-center mx-3 text-xl font-bold'> Sign in with Google</a>
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}