{% extends '_base.html'%}

{% load static %}

{% block content %}
<script>
</script>
<div class=" bg-black w-full h-screen bg-opacity-60">
    <div class="flex justify-end pt-3 pr-2">
        <div class="flex justify-center  p-2 text-white  bg-neutral-800 rounded-lg">

            <div class>
                <button type='submit' class=" px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center text-xl">
                    <a href='/welcome' class='text-xl font-bold'> Logout</a>
                </button>
            </div>

            <div class="my-auto font-semibold text-xl ml-3 mr-1">
                <a class="w-1/6 text-right hover:text-gray-500 " href="/">✕</a> <!-- Go home if exit -->
            </div>
        </div>
    </div>
</div>
{% endblock %}