{% load static %}

<nav class=" bg-neutral-800 p-2 text-white w-full drop-shadow-2xl ">
    <div class='flex w-full'>
        <div class='flex w-6/12  justify-start mx-1'>
            <img src="{% static 'app/images/logo.png' %}" alt='quayside logo' style="height: 40px;"/>
            <a href='/' class='my-auto mx-3 sm:text-xl font-bold'> quayside.app</a>
        </div>
        <div class='flex w-6/12 justify-end mx-1 my-auto text-xl font-bold'>
            {%if username %}
            <a href='/logout'class="hover:text-neutral-500" >Welcome {{ username }}!</a>
            <div class="w-6 h-6 my-auto  ml-2" id="settingsDropdown">{% include "components/svg/settings.svg" %}</div>
            {%else%}
            <a href='/login' class="hover:text-neutral-500">Sign up/Login</a>
            {%endif%}
        </div>
    </div>
</nav>

{% comment %} <nav class="mt-4 text-xl text-right font-medium rounded-lg  py-1 bg-neutral-600 hover:bg-gray-500" >
    <div class='flex w-full'>
        <a href='/' class='my-auto mx-3 text-xl font-bold'>Signup/Login</a>
        </div>
    </div>
</nav> {% endcomment %}

