{% extends "graph.html" %}
{% load static %}

{% block editProjectContent %}

<div class="absolute bg-black w-full h-full px-3 sm:px-0 bg-opacity-75 text-white">
    <div class="w-full sm:w-96 md:[w-45rem] lg:w-[50rem] bg-neutral-800 mx-auto sm:mt-8 px-5 py-5 rounded-lg sm:text-xl  z-40">

        <form action="{{submitLink}}" method="post">
            {% csrf_token %}

            <div class="flex justify-end">
                <a class=" hover:text-gray-500" href="{{exitLink}}">✕</a> <!-- Go home if exit -->
            </div>

            <div>

                <!-- Manually render form for formatting to take effect -->
                {{ form.name }}
                <div class="inline"> {{ form.startDate }} - {{ form.endDate }} </div>

                <div class="flex justify-end">

                    <!-- Save Button -->
                    <button type='submit' class="mt-1 mb-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center">
                        Save
                    </button>

                </div>
            </div>
        </form>

    </div>

</div>
{% if deleteLink %}
<script>
    /*
    * Deletes tasks when button is clicked.
    */
    
    document.getElementById('deleteTaskButton').addEventListener('click', async function (event) {
        event.preventDefault();
        const response = await fetch('{{apiUrl}}/tasks/?id={{taskID}}', { method: 'DELETE' })
        if (!response.ok) throw new Error('Network response was not ok')
    
        // Navigate to project after deleting
        window.location.href = "{{deleteLink}}"

    })   
</script>
{% endif %}

{% endblock %}