{% extends '_base.html' %}
{% load static %}

{% block content %}

<script>
/*
* Updates project name.
*/
(async function () {
  try {
    const response = await fetch('{{apiUrl}}/projects?id={{projectID}}')
    const projects = await response.json()
    if (!response.ok) throw new Error(projects.message || 'Network response was not ok')
    const project = projects[0]

    const projectNameElement = document.getElementById('projectName')
    projectNameElement.textContent = 'Project: ' + project.name
  } catch (error) {
    // Handle network errors
    console.error('There was a problem with the fetch operation:', error.message)
    alert('There was a problem displaying your project details.') // TODO DO SOMETHING ELSE INSTEAD OF THIS
  }
})()
</script>
<style>
  .svgSizing svg {
      width: 25px;
      height: 25px;
  }
  
  /* Smaller size for screens narrower than 600px */
  @media (max-width: 600px) {
    .svgSizing svg {
          width: 15px;
          height: 15px;
      }
  }
</style>
<div class=" text-white relative">

  <div class="flex justify-between bg-neutral-800 rounded-lg py-2 px-4 m-3 sm:m-6">
    <div class="flex justify-between">
      <div id="projectName" class="my-auto sm:text-2xl"></div>
      <a id ='formatButton' href= "#" class=" my-auto rounded-full ml-4 px-2 py-1 bg-neutral-600 hover:bg-gray-500 ">
        <div id = "formatText" class=" sm:text-xl font-semibold mx-1 "></div>
      </a> 
    </div>

    <div class="flex svgSizing ">

      <a href="create-task/" class="flex content-center text-center rounded-full mr-4 px-2 py-2 bg-neutral-600 hover:bg-gray-500 ">
        <button>
          {% include "components/svg/plus.svg" %}
        </button>
      </a>
      <a href="/project/{{projectID}}/" class="flex content-center text-center rounded-full mr-4 px-2 py-2 bg-neutral-600 hover:bg-gray-500 ">
        <button id="editProjectButton">
          {% include "components/svg/edit.svg" %}
        </button>
      </a>

      <button id="deleteProjectButton" class="text-center rounded-full px-2 py-2 bg-neutral-600 hover:bg-red-500">
        {% include "components/svg/delete.svg" %}
      </button>
    </div>

  </div>

  <div id="confirmDeleteModal" class="hidden absolute top-20 right-6 z-50 py-6 text-white text-center bg-neutral-800 rounded-lg w-64">
    <b>Are you sure?</b>
    <br>
    This cannot be undone.

    <div class="flex justify-center pt-4">
      <button id="cancelDeleteButton" class="mr-2 px-2 py-1 inline-block rounded-md bg-neutral-600 hover:bg-gray-500">
        No, cancel.
      </button>

      <button id="confirmDeleteButton" class="ml-1 px-2 py-1 inline-block rounded-md bg-red-500 hover:bg-red-400">
        Yes, delete.
      </button>
    </div>

  </div>

  <div>
    {% block projectContent %}{% endblock %}
  </div>

</div>

<script>
/*
* Confirms delete and deletes project when button is clicked.
*/

window.onload = function()
{
  var path = document.URL.split("/");
  var format = path[path.length - 2];
  
  if(format == 'graph')
  {
    document.getElementById('formatButton').href = '/project/{{projectID}}/kanban';
    document.getElementById('formatText').textContent = 'Kanban';
  }
  else
  {
    document.getElementById('formatButton').href = '/project/{{projectID}}/graph';
    document.getElementById('formatText').textContent = 'Graph';
  }
}
document.getElementById('deleteProjectButton').addEventListener('click', async function () {
  document.getElementById('confirmDeleteModal').classList.toggle('hidden')
  document.getElementById('deleteProjectButton').disabled = true
  document.getElementById('deleteProjectButton').classList.toggle('hover:bg-red-500')
})

document.getElementById('cancelDeleteButton').addEventListener('click', async function () {
  document.getElementById('confirmDeleteModal').classList.toggle('hidden')
  document.getElementById('deleteProjectButton').disabled = false
  document.getElementById('deleteProjectButton').classList.toggle('hover:bg-red-500')
})


document.getElementById('confirmDeleteButton').addEventListener('click', async function () {
  try {
    const response = await fetch('{{apiUrl}}/projects/?id={{projectID}}', { method: 'DELETE' })

    if (!response.ok) {
      const errorData = await response.json()
      throw new Error(errorData.message || 'Network response was not ok')
    } else {
      // Navigate Home after deleting
      window.location.href = '/'
    }
  } catch (error) {
    // Handle network errors
    console.error('There was a problem with the fetch operation:', error.message)
    alert('There was a problem with your deletion.') // TODO DO SOMETHING ELSE INSTEAD OF THIS
  }
})
</script>

{% endblock %}