{% extends '_base.html' %}
{% load static %}

{% block content %}
<script>
    (async function() {
        try {
            const response = await fetch('{{api_url}}/project/{{projectID}}'); // TODO: REPLACE userID w/ reference
            if (!response.ok) throw new Error('Network response was not ok');
            const project = await response.json();

            const projectNameElement = document.getElementById('project-name');
            projectNameElement.textContent = "Project: " + project.name;

        } catch (error) {
            console.error('There has been a problem with fetching projects:', error);
        }
    })();
</script>
<div class="p-12 text-white text-3xl ">
    <div id="project-name"></div>
</div>
{% endblock %}