{% load static %}

<script>
/*
* Create/Updates sidebar project content
*/
(async function () {
  try {
    const response = await fetch('{{ apiUrl }}/projects/?userIDs={{userID}}')
    const projects = await response.json()

    if (!response.ok) throw new Error(projects.message || 'Network response was not ok')

    const projectListElement = document.getElementById('projectsList')
    projects.forEach(function (project) {
      const listLink = document.createElement('a')
      listLink.href = `/project/${project.id}/graph`
      listLink.textContent = project.name
      listLink.className = 'flex pb-1  hover:text-neutral-500  truncate w-22'
      projectListElement.appendChild(listLink)
    })
  } catch (error) {
    console.error('There has been a problem with fetching projects:', error.message)
    alert('There was an error displaying your list of projects')
  }
})()
</script>
<style>
  /* Remove ugly white scrollbar*/ 
  
  /* For Chrome, Safari, and Opera */
  #projectListDiv::-webkit-scrollbar {
      display: none;
  }

  /* For Internet Explorer, Edge */
  #projectListDiv {
      -ms-overflow-style: none;
  }

  /* For Firefox */
  #projectListDiv {
      scrollbar-width: none;
  }
</style>

<div class="absolute sm:static">
  <div id="sidebarContent" class=" relative w-44 bg-neutral-800 min-h-screen px-4 pt-2 text-white hidden sm:block">
    <button id="newProjectButton" class=" w-full mt-4 sm:text-xl text-center font-medium rounded-lg  py-1 bg-neutral-600 hover:bg-neutral-500">
      + Project
    </button>

    <div class="mt-8">
        <!-- Starred Dropdown -->
        {% comment %} {% include "components/dropdown.html" with id="starred" title="Starred" %} {% endcomment %}
        <!-- Projects Dropdown -->
        {% include "components/dropdown.html" with id="projects" title="Projects" %}
        <!-- Team Dropdown -->
        {% comment %} {% include "components/dropdown.html" with id="team" title="Team" %} {% endcomment %}
        <!-- Objectives Dropdown-->
        {% comment %} {% include "components/dropdown.html" with id="objectives" title="Objectives" %} {% endcomment %}
    </div>
</div>

  <button id="collapseButton" class="fixed p-1 bottom-3 left-3 sm:left-32 rotate-180 sm:rotate-0">
    <div class="flex rounded-md stroke-white bg-neutral-600 hover:bg-neutral-500">
      {% include "components/svg/arrow.svg" %}
    </div>
  </button>
  {% include "newProjectModal.html" %}

        <!-- Four Rectangle Buttons -->
        {% comment %} <div class="absolute bottom-14 left-0 right-0 grid grid-cols-2 gap-0 border-t">
            <button onclick="window.location.href='/invite/'" class="bg-neutral-600 hover:bg-emerald-500 hover:text-black text-white py-4 border-r border-b">
                Invite
            </button>
            <button onclick="window.location.href='/tutorial/'" class="bg-neutral-600 hover:bg-emerald-500 hover:text-black text-white py-4 border-b">
                Tutorial
            </button>
            <button onclick="window.location.href='/marketplace/'" class="bg-neutral-600 hover:bg-emerald-500 hover:text-black text-white py-4 border-r">
                Marketplace
            </button>
            <button onclick="window.location.href='/feedback/'" class="bg-neutral-600 hover:bg-emerald-500 hover:text-black text-white py-4">
                Feedback
            </button>
        </div> {% endcomment %}

    
</div>



<script>
  /*
  * Allows sidebar toggle button to work (after DOM has loaded).
  */
  document.getElementById('collapseButton').addEventListener('click', function () {
    // Hides  + shows sidebar (small screens default to hidden, large screens default to shown)
    const sidebar = document.getElementById('sidebarContent')
    sidebar.classList.toggle('hidden')
    sidebar.classList.toggle('sm:block')
    sidebar.classList.toggle('sm:hidden')

    const collapseButton = document.getElementById('collapseButton')
    collapseButton.classList.toggle('left-32')
    collapseButton.classList.toggle('left-3')
    collapseButton.classList.toggle('sm:left-32')
    collapseButton.classList.toggle('sm:left-3')

    collapseButton.classList.toggle('rotate-180')
    collapseButton.classList.toggle('sm:rotate-180')
    collapseButton.classList.toggle('sm:rotate-0')
})

/*
* Shows/hides projects with the dropdown.
*/
function toggleDropdown(type) {
    // const dropdown = document.getElementById(`${type}DropdownButton`)
    const dropdownIcon = document.getElementById(`${type}Dropdown`)
    const dropdownListDiv = document.getElementById(`${type}ListDiv`)

    dropdownIcon.classList.toggle('-rotate-90')
    dropdownIcon.classList.toggle('rotate-180')

    dropdownListDiv.classList.toggle('hidden')
}

// Hides dropdowns by default
// ['starred', 'projects', 'team', 'objectives'].forEach(type => {
//     toggleDropdown(type);
//   });

</script>

