{% extends baseTemplate %}
{% load static %}

{% block taskContent %}

<style>
    /* Format "+"" svg */
    #assigneeButton svg {
        width: 15px;
        height: 15px;
    }
</style>
<div class="absolute  bg-gradient-to-b from-transparent  to-10% to-black/50 w-full h-full px-3 sm:px-0 text-white svgSizing">
    <div class=" relative w-full  sm:mx-auto sm:w-96 md:[w-45rem] lg:w-[50rem] bg-neutral-800  p-4 mt-8 sm:p-5  rounded-lg sm:text-xl">

        <form method="post">
            {% csrf_token %}

            <div class="flex justify-end">
                <a class=" hover:text-gray-500" href="{{exitLink}}">✕</a> <!-- Go home if exit -->
            </div>

            <div>

                <!-- Manually render form for formatting to take effect -->

                {{ form.name }}
                {{ form.status }}
                <div class="pt-3 sm:pt-0 sm:inline sm:pl-2"> {{ form.startDate }} - {{ form.endDate }} </div>

				<div class="mt-2 text-white"> 
                    <span class="mr-2">Estimated Duration: </span>
                    {{ form.duration }}
                </div>
                <div class="flex mt-2 relative" >
                    <div class="mr-2">Assignees:</div>
                    <div id="assigneeList" class="flex">
                        <!-- Dynamically filled by JavaScript updateAssignees()-->
                    </div>
                    <div class="relative">
                        <button id="assigneeButton" onclick="toggleAssigneeModal()" type="button" class=" relative  rounded-full p-1.5  bg-neutral-600 hover:bg-gray-500">
                            {% include "components/svg/plus.svg"%} 
                        </button>

                    </div>
                    <div id="assigneeModal" class="hidden absolute w-max top-10 left-0 p-2 text-left bg-neutral-800 shadow-lg shadow-black rounded-lg">
                        {{form.assignees}}
                    </div>
                </div>



                {{ form.description }}

                <div class="flex {% if deleteLink %} justify-between {% else %} justify-end {% endif %}">
                    <!-- Delete Button -->
                    {% if deleteLink %}
                    <button type="button" id="deleteTaskButton" class="mt-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-red-500 text-center">
                        {% include "components/svg/delete.svg" %}
                    </button>
                    {% endif %}

                    <!-- Save Button -->
                    <button type='submit' class="mt-4 px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center">
                        Save
                    </button>

                </div>
            </div>
        </form>
        
        <div id="confirmDeleteTaskModal" class=" hidden absolute w-64 bottom-0 left-0  text-white text-center bg-neutral-800 rounded-lg  text-base">
            <button id="cancelDeleteTaskButton" class="hover:text-gray-500  flex justify-end px-3 pt-3 w-full">
                ✕
            </button>

            <div>Are you sure?</div>

            <button id="deleteTask" class="w-56 m-2 px-2 py-1  rounded-md bg-red-500 hover:bg-red-400">
                Yes, delete this task.
            </button>

            <button id="deleteTaskAndChildren" class="w-56 m-2 px-2 py-1  rounded-md bg-red-500 hover:bg-red-400">
                Yes, delete this task and ALL its children.
            </button>

        </div>

    </div>

</div>
{% if deleteLink %}
<script>
    /*
    * Confirms delete and deletes task when button is clicked.
    */


    document.getElementById('deleteTaskButton').addEventListener('click', async function () {
      document.getElementById('confirmDeleteTaskModal').classList.toggle('hidden')
      document.getElementById('deleteTaskButton').disabled = true
      document.getElementById('deleteTaskButton').classList.toggle('hover:bg-red-500')
    })
    
    document.getElementById('cancelDeleteTaskButton').addEventListener('click', async function () {
      document.getElementById('confirmDeleteTaskModal').classList.toggle('hidden')
      document.getElementById('deleteTaskButton').disabled = false
      document.getElementById('deleteTaskButton').classList.toggle('hover:bg-red-500')
    })
    
    
    document.getElementById('deleteTask').addEventListener('click', async function () {
        try {
            event.preventDefault()
            const response = await fetch('{{apiUrl}}/tasks/?id={{taskID}}', { method: 'DELETE' })

            if (!response.ok) {
            const errorData = await response.json()
            throw new Error(errorData.message || 'Network response was not ok')
            }

            // Navigate to project after deleting
            window.location.href = '{{deleteLink}}'
        } catch (error) {
            // Handle network errors
            console.error('There was a problem deleting the task:', error.message)
            alert('There was a problem with your task deletion.') // TODO DO SOMETHING ELSE INSTEAD OF THIS
        }
    })
</script>
{% endif %}
<script>
    document.getElementById('deleteTaskAndChildren').addEventListener('click', async function () {
        try {
            event.preventDefault()
            const response = await fetch('{{apiUrl}}/tasks/?id={{taskID}}&deleteChildren=true', { method: 'DELETE' })

            if (!response.ok) {
            const errorData = await response.json()
            throw new Error(errorData.message || 'Network response was not ok')
            }

            // Navigate to project after deleting
            window.location.href = '{{deleteLink}}'
        } catch (error) {
            // Handle network errors
            console.error('There was a problem deleting the task and its children :', error.message)
            alert('There was a problem with your task deletion.') // TODO DO SOMETHING ELSE INSTEAD OF THIS
        }
    })

/*
* Opens/Closes User Modal
*/
function toggleAssigneeModal() {
    document.getElementById('assigneeModal').classList.toggle('hidden');
}

// Close modal when clicking outside of the modal content
document.addEventListener('click', function (event) {
    const modal = document.getElementById('assigneeModal');
    const assigneeButton = document.getElementById('assigneeButton')
    
    if (!modal.classList.contains('hidden') && !modal.contains(event.target) && !assigneeButton.contains(event.target) ) {
        toggleAssigneeModal();
    }
});



document.addEventListener('DOMContentLoaded', function() {

    // Get all the checked checkboxes sent (from view) w/ name assignee
    const checkbox_inputs = document.getElementById('assigneeModal').querySelectorAll('input[name="assignees"]'); 

    // Update assignee list whenever checkboxes are changed
    checkbox_inputs.forEach(input => {
        input.addEventListener('change', updateAssignees);
    });

    updateAssignees()
})

function updateAssignees() {
    /*
    Populates all assignees that are checked in modal.
    Django sends checkbox html (form.assignees) in this format:
        <label for="id_assignees_1"><input type="checkbox" name="assignees" value="6566645638c994031861ccac" id="id_assignees_1">kaiverson</label>
    */
    const container = document.getElementById('assigneeModal');

    // Get all the checked checkboxes sent (from view) w/ name assignee
    const checkbox_inputs = container.querySelectorAll('input[name="assignees"]:checked'); 

    const assigneeList = document.getElementById('assigneeList');
    assigneeList.innerHTML = '';
    checkbox_inputs.forEach(function(input) {
        const checkbox_label = input.parentNode; 
        if (checkbox_label) {
            const assignee = checkbox_label.innerText.trim()
            const div = document.createElement('div');
            div.className = 'px-2 py-1 rounded-full bg-neutral-600 text-sm mr-2';
            div.textContent = assignee;
            assigneeList.appendChild(div);
            }
    });
    // if (assigneeList.children.length === 0) {
    //     assigneeList.innerHTML = '<div class="px-2 py-1 rounded-full bg-neutral-600 text-sm mr-2">No assignees</div>';
    // }

}
</script>


{% endblock %}