
{% load static %}

<div id="taskFeedBackFormDiv" class="absolute bottom-52 right-36  z-50 p-4  text-white  bg-neutral-800 rounded-t-3xl rounded-bl-3xl shadow-lg shadow-black w-72 md:w-72">
<!--absolute bottom-40 right-5-->
    <form action="/project/{{ projectID }}/graph/give-feedback" method="post" id="taskFeedbackForm">
        {% csrf_token %} <!-- Required by Django to prevent Cross Site Scripting -->

        <h3 id="formDescriptor"></h3>
        <!-- Project Input(s) -->
        <div class="pt-4 ">
            {{ TaskFeedbackForm.mood.label }}
            {{ TaskFeedbackForm.mood }} <!-- Comes from the context processor (since in the base class)-->
            
            <div class="mt-2">
                {{ TaskFeedbackForm.explanation }}
            </div>
        </div>

        <input id='taskID' type="hidden" name="taskID" value="{{ taskID }}">

        <!-- Submit Button -->
        <div id="submitButton">
            <div class="flex justify-end">
                <button type='submit' class="  px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center">
                    Submit!
                </button>
            </div>
        </div>
    </form>

</div>

<script>
    let taskID = "{{ taskID }}";

    let formDescriptor = document.getElementById("formDescriptor");
    if (taskID != ""){
        formDescriptor.innerHTML = "For task: {{ taskID }}"
    } else {
        formDescriptor.innerHTML = "For project: {{ projectID }}"
    }
</script>

