
{% load static %}

<div id="taskFeedBackFormDiv" class="absolute bottom-100 right-5 fixed z-40 p-5  text-white  bg-neutral-800 rounded-lg shadow-lg shadow-black">
<!--absolute bottom-40 right-5-->
    <form action="" method="post" id="taskFeedbackForm">
        {% csrf_token %} <!-- Required by Django to prevent Cross Site Scripting -->

        <!-- Project Input(s) -->
        <div class="pt-4 w-72 md:w-96">
            {{ TaskFeedbackForm }} <!-- Comes from the context processor (since in the base class)-->
        </div>

        <!-- Submit Button -->
        <div id="submitButton">
            <div class="flex justify-end">
                <button type='submit' class="my-4  px-2 py-1 rounded-md  text-white bg-neutral-600 hover:bg-gray-500 text-center">
                    Submit!
                </button>
            </div>
        </div>
    </form>

</div>

<script>

</script>

