{% extends "_base.html" %}
{% load static %}

{% block content %}

<style>
  /* Remove ugly white scrollbar*/ 
  
  /* For Chrome, Safari, and Opera */
  #scroll::-webkit-scrollbar {
      display: none;
  }

  /* For Internet Explorer, Edge */
  #scroll {
      -ms-overflow-style: none;
  }

  /* For Firefox */
  #scroll {
      scrollbar-width: none;
  }
</style>

<div class='text-white h-screen'>
  <div id="scroll" class=' max-h-[90dvh] text-center overflow-y-scroll'>

    <div class='mt-[35dvh] flex justify-center text-3xl md:text-7xl font-bold '>
      quayside.app
    </div>

    <div class='flex flex-wrap justify-center md:text-3xl mt-3'>
      Ignite Collaborative Productivity
    </div>

    <div class='flex flex-wrap justify-center mt-2 text-xl'>
      <a href='/login' class='bg-neutral-800 hover:bg-neutral-700  rounded-2xl mt-2 mx-2 px-5 py-1 flex items-center justify-center'>
        Get Started
      </a>
      <a href='/redirect' target="_blank" class='bg-neutral-800 hover:bg-neutral-700 rounded-2xl mt-2 mx-2 px-5 py-1 flex items-center justify-center'>
        <img src="{% static 'app/images/github-mark-white.png' %}" class="inline mr-2 my-1" alt='GitHub logo' style="height: 25px;" />
        See Our Code
      </a>
    </div>

    <div class='flex flex-wrap justify-center mt-48 text-3xl'>

      <!-- Source: https://v1.tailwindcss.com/components/cards -->
      <div class="mt-4 mx-4 max-w-sm rounded-2xl overflow-hidden shadow-2xl bg-neutral-800">
        <div class="mt-4 mx-4 ">
          <img class="h-72 w-full rounded-2xl shadow-2xl" src="{% static 'app/images/demo.png' %}" alt="Sunset in the mountains">
        </div>
        <div class="px-6 py-4">

          <div class="font-bold text-xl mb-2">What's next?</div>
          <p class="text-white text-base">
            Break your project into deliverables automagically.
          </p>
        </div>
      </div>

      <div class="mt-4 mx-4  max-w-sm rounded-2xl overflow-hidden shadow-lg bg-neutral-800">
        <div class="mt-4 mx-4 rounded-2xl flex items-center justify-center bg-black h-72 ">
          Coming soon...
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">What's the timeline?</div>
          <p class="text-white text-base">
            Estimate the time needed to complete your tasks.
          </p>
        </div>
      </div>

      <div class="mt-4 mx-4  max-w-sm rounded-2xl overflow-hidden shadow-lg bg-neutral-800">
        <div class="mt-4 mx-4 rounded-2xl flex items-center justify-center bg-black h-72 ">
          Coming soon...
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">What's finished?</div>
          <p class="text-white text-base">
            Integrate with Github and the Google Suite to track your progress.
          </p>
        </div>
      </div>

    </div>

    <!-- <div class="flex justify-center">
      <div class="w-5/6 bg-neutral-800 bg-opacity-20 rounded-lg mt-3">
        <div class='flex flex-wrap justify-center w-full md:text-3xl font-semibold mt-3'>
          ABOUT
        </div>
        <div class='p-1 w-full md:text-m'>
          70% of all projects lead to failure. That is a huge number. Our goal is to reduce that number with quayside.app, 
          a project management web application designed to get teams started on projects quicker 
          and answer the question “What’s next?”. quayside.app will uses a large language model(LLM) to break a project into deliverables with time estimations.
          quayside.app helps your team keep track of their tasks and remind them when to complete them.
          The idea of quayside was formulated in the summer of 2023 by Erik Williams, who has been a project manager for 7 years and is now the COO of Beadedstream. 
          His vision for quayside is to “Ignite Collaborative Productivity”.
        </div>
        <div class="flex justify-center">
            <img src="{% static 'app/images/github-mark-white.png' %}" alt='GitHub logo' style="height: 20px;" class = 'my-auto'/>
            <a href='/redirect' class='my-center mx-3 text-l font-bold'> Visit our GitHub!</a>
      </div>
      </div>
    </div>-->
  </div>
</div>
{% endblock content %}
