{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class='pt-80 text-white h-screen text-center'>

  <div class='flex justify-center w-full text-3xl md:text-7xl font-bold '>
    quayside.app
  </div>

  <div class='flex flex-wrap justify-center  w-full md:text-3xl mt-3'>
    Ignite Collaborative Productivity
  </div>

  <div class="flex justify-center">
    <div class="w-5/6 bg-neutral-800 bg-opacity-20 rounded-lg">
      <div class='flex flex-wrap justify-center w-full md:text-3xl font-semibold mt-3'>
        ABOUT
      </div>
      <div class='p-1 w-full md:text-m'>
        70% of all projects lead to failure. That is a huge number. Our goal is to reduce that number with quayside.app, 
        a project management web application designed to get teams started on projects quicker 
        and answer the question “What’s next?”. quayside.app will uses a large language model(LLM) to break a project into deliverables with time estimations.
        quayside.app helps your team keep track of their tasks and remind them when to complete them.
        The idea of quayside was formulated in the summer of 2023 by Erik Williams, who has been a project manager for 7 years and is now the COO of Beadedstream. 
        His vision for quayside is to “Ignite Collaborative Productivity”.
      </div>
    </div>
  </div>
</div>
{% endblock content %}